<%- include('header'); %>
<%- include('./navs/navAuth'); %>
<section class="view">
    <div class="d-flex flex-column justify-content-center">
         <!-- Error & messages section -->
         <div>
            <% if(typeof  error !== 'undefined'){ %>
                <% if (typeof  error.error != 'undefined') { %>
                    <div class="alert alert-danger" role="alert">
                    <%= error.error %>
                    </div>
                <% } }
                if (typeof  success !== 'undefined') { %>
                    <div class="alert alert-success" role="alert">
                        <%= success.successMessage %>
                      </div>
               <% } %>
          </div>
          <div class="row">
              <div class="col-lg-4 col-sm-4 col-md-5">
                <div class="card">
                  <!-- List of matching users -->
                  <div class="list-group">
                    <a href="#!" class="list-group-item d-flex justify-content-between align-items-center active">
                      <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                      <div class="d-sm-none d-md-none d-lg-block">
                        <span> John Doe (@john) </span>
                      </div>
                      <span class="stateOnline"></span>
                      <span class="badge badge-danger badge-pill">24</span>
                    </a>
                    <a href="#!" class="list-group-item d-flex justify-content-between align-items-center">
                      <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                      <div class="d-sm-none d-md-none d-lg-block">
                        <span> John Doe (@john) </span>
                      </div>
                      <span class="stateOffline"></span>
                      <span class="badge badge-danger badge-pill">24</span>
                    </a>
                    </div>
                </div>
              </div>
              <div class="col-lg-8 col-md-7 col-sm-8">
                <div class="card">
                  <div class="chatMessages">
                    <ul class="list-unstyled">
                      <li class="d-flex justify-content-between mb-4">
                        <div class="bg-light rounded w-75 p-3 ml-2 z-depth-1">
                          <div class="header">
                            <strong class="primary-font">Brad Pitt</strong>
                            <small class="pull-right text-muted"><i class="far fa-clock"></i> 12 mins ago</small>
                          </div>
                          <hr class="w-100">
                          <p class="mb-0">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                          </p>
                        </div>
                      </li>
                      <li class="d-flex justify-content-end mb-4">
                        <div class="light-green lighten-2 rounded w-75 p-3 ml-2 z-depth-1">
                          <div class="header">
                            <strong class="primary-font">You</strong>
                            <small class="pull-right text-muted"><i class="far fa-clock"></i> 12 mins ago</small>
                          </div>
                          <hr class="w-100">
                          <p class="mb-0">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                          </p>
                        </div>
                      </li>


                    <li class="white">
                      <div class="form-group basic-textarea">
                        <textarea class="form-control pl-2 my-0" id="exampleFormControlTextarea2" rows="3" placeholder="Type your message here..."></textarea>
                      </div>
                    </li>
                    <button type="button" class="btn btn-deep-purple btn-rounded btn-sm waves-effect waves-light float-right">Send</button>
                  
                    </ul>
                  </div>
                  
                </div>
            </div>
          </div>
    </div>
</section>



<%- include('footer'); %>