<%- include('header'); %>
<%- include('./navs/navAuth'); %>

<!-- Intro -->
<section class="view">
      <div >
        <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link <%- (nav.path == 'basic') ? 'active' : '' %>" id="basic-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="basic"
                aria-selected="true">Basic Infos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%- (nav.path == 'password') ? 'active' : '' %>" id="passowrd-tab" data-toggle="tab" href="#passowrd" role="tab" aria-controls="passowrd"
                aria-selected="false">Password</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%- (nav.path == 'picture') ? 'active' : '' %>" id="picture-tab" data-toggle="tab" href="#picture" role="tab" aria-controls="picture"
                aria-selected="false">Pictures</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%- (nav.path == 'tag') ? 'active' : '' %>" id="tag-tab" data-toggle="tab" href="#tag" role="tab" aria-controls="tag"
                aria-selected="false">Tags</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%- (nav.path == 'location') ? 'active' : '' %>" id="location-tab" data-toggle="tab" href="#location" role="tab" aria-controls="location"
                  aria-selected="false">Location</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%- (nav.path == 'preview') ? 'active' : '' %>" id="preview-tab" data-toggle="tab" href="#preview" role="tab" aria-controls="preview"
                aria-selected="false">Preview</a>
          </li>
          </ul>
           <!-- Error & messages section -->
           <div style="margin-top: 10px;">
            <% if(typeof  error !== 'undefined'){ %>
                <% if (typeof  error.error != 'undefined') { %>
                    <div class="alert alert-danger" role="alert">
                    <%=  error.error %>
                    </div>
                <% } }
                if (typeof  success !== 'undefined') { %>
                    <div class="alert alert-success" role="alert">
                        <%= success.successMessage %>
                      </div>
               <% } %>
          </div>
          <div class="tab-content col-12" id="myTabContent">
          <div class="tab-pane fade <%- (nav.path == 'basic') ?  'show active'  : '' %>" id="basic" role="tabpanel" aria-labelledby="basic-tab">
          <!-- Extended default form grid -->
          <form method="POST" action="/profile/editProfile">
                    <!-- Grid row -->
                    <div class="form-row">
                        <!-- Default input -->
                        <div class="form-group col-md-6">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" name="firstName" placeholder="First Name" value="<%= (typeof userInfos !== 'undefined') ? userInfos.firstName : '' %>" required maxlength="30">
                            <% if(typeof  error !== 'undefined'){ %>
                              <div class="error-input">
                                  <% if (typeof  error.firstName !== 'undefined') %>
                                  <%= error.firstName %>
                              </div>
                            <% } %>
                        </div>
                        <!-- Default input -->
                        <div class="form-group col-md-6">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" name="lastName" placeholder="Last Name" value="<%= (typeof userInfos !== 'undefined') ? userInfos.lastName : '' %>" required maxlength="30">
                            <% if(typeof  error !== 'undefined'){ %>
                              <div class="error-input">
                                  <% if (typeof  error.lastName !== 'undefined') %>
                                  <%= error.lastName %>
                              </div>
                            <% } %>
                        </div>
                    </div>
                    <!-- Grid row -->
                    <!-- Grid row -->
                    <div class="form-row">
                    <!-- Default input -->
                    <div class="form-group col-md-6">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" placeholder="Username" value="<%= (typeof userInfos !== 'undefined') ? userInfos.username : '' %>" required maxlength="20" minlength="2">
                        <% if(typeof  error !== 'undefined'){ %>
                          <div class="error-input">
                              <% if (typeof  error.username !== 'undefined') %>
                              <%= error.username %>
                          </div>
                        <% } %>
                    </div>
                    <!-- Default input -->
                    <div class="form-group col-md-6">
                        <label for="birthday">Birth Day</label>
                        <input type="date" class="form-control" name="birthDay" placeholder="Birth Day" value="<%= (typeof userInfos !== 'undefined') ? userInfos.born_date : '' %>" required>
                        <% if(typeof  error !== 'undefined'){ %>
                          <div class="error-input">
                              <% if (typeof  error.birthDay !== 'undefined') %>
                              <%= error.birthDay %>
                          </div>
                        <% } %>
                    </div>
                    </div>
                    <!-- Grid row -->
                     <!-- Grid row -->
                     <div class="form-row">
                        <!-- Default input -->
                        <div class="form-group col-md-6">
                            <label for="gender">Gender</label>
                            <select class="browser-default custom-select" name="gender">
                              <option
                              <%= (typeof userInfos !== 'undefined') ? ((userInfos.gender == null) ?  'selected'  : '') : '' %>>Select Your Gender</option>
                                <option value="male"
                                            <%= (typeof userInfos !== 'undefined') ? ((userInfos.gender == 'male') ?  'selected'  : '') : '' %>>male</option>
                                <option value="female"
                                            <%= (typeof userInfos !== 'undefined') ? ((userInfos.gender == 'female') ?  'selected'  : '') : '' %>>female</option>
                              </select>
                              <% if(typeof  error !== 'undefined'){ %>
                                <div class="error-input">
                                    <% if (typeof  error.gender !== 'undefined') %>
                                    <%= error.gender %>
                                </div>
                              <% } %>
                        </div>
                        <!-- Default input -->
                        <div class="form-group col-md-6">
                            <label for="orientation">Orientation</label>
                            <select class="browser-default custom-select" name="orientation">
                              <option
                              <%= (typeof userInfos !== 'undefined') ? ((userInfos.preference == null) ?  'selected'  : '') : '' %>>Select Your Orientation</option>
                              <option value="heterosexual"
                                            <%= (typeof userInfos !== 'undefined') ? ((userInfos.preference == 'heterosexual') ?  'selected'  : '') : '' %>>Heterosexual</option>
                              <option value="homosexual"
                                    <%= (typeof userInfos !== 'undefined') ? ((userInfos.preference == 'homosexual') ?  'selected'  : '') : '' %>>Homosexual</option>
                              <option value="bisexual"
                                    <%= (typeof userInfos !== 'undefined') ? ((userInfos.preference == 'bisexual') ?  'selected'  : '') : '' %>>Bisexual</option>
                              </select>
                              <% if(typeof  error !== 'undefined'){ %>
                                <div class="error-input">
                                    <% if (typeof  error.orientation !== 'undefined') %>
                                    <%= error.orientation %>
                                </div>
                              <% } %>
                        </div>
                        </div>
                        <!-- Grid row -->
                
                    <!-- Default input -->
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" placeholder="E-mail" value="<%= (typeof userInfos !== 'undefined') ? userInfos.email : '' %>" required>
                        <% if(typeof  error !== 'undefined'){ %>
                          <div class="error-input">
                              <% if (typeof  error.email !== 'undefined') %>
                              <%= error.email %>
                          </div>
                        <% } %>
                    </div>
                    <!-- Default input -->
                    <div class="form-group">
                        <label for="bio">Bio</label>
                        <textarea class="form-control" name="bio" rows="7" required maxlength="200" minlength="2"><%- (typeof userInfos !== 'undefined') ? userInfos.biography : '' %></textarea>
                        <% if(typeof  error !== 'undefined'){ %>
                          <div class="error-input">
                              <% if (typeof  error.bio !== 'undefined') %>
                              <%= error.bio %>
                          </div>
                        <% } %>
                    </div>
                    <!-- Grid row -->
                    <input type="submit" class="btn btn-primary btn-md" name="basic" value="Submit">
                </form>
                <!-- Extended default form grid -->
            </div>
            <!-- Password Reset form-->
            <div class="tab-pane fade <%- (nav.path == 'password') ?  'show active'  : '' %>" id="passowrd" role="tabpanel" aria-labelledby="passowrd-tab">
              <form action="/profile/updatePassword" method="post">
                <!-- Password input -->
                <div class="form-group">
                    <label for="oldPassword">Old Password</label>
                    <input type="password" class="form-control" name="oldPassword" placeholder="Old Password" required>
                    <% if(typeof  error !== 'undefined'){ %>
                      <div class="error-input">
                          <% if (typeof  error.oldPassword !== 'undefined') %>
                          <%= error.oldPassword %>
                      </div>
                    <% } %>
                </div>
                <!-- Password input -->
                <div class="form-group">
                  <label for="newPassword">New Password</label>
                  <input type="password" class="form-control" name="newPassword" placeholder="New Password" required>
                  <% if(typeof  error !== 'undefined'){ %>
                    <div class="error-input">
                        <% if (typeof  error.newPassword !== 'undefined') %>
                        <%= error.newPassword %>
                    </div>
                  <% } %>
                </div>
                <!-- Confirm Password input -->
                <div class="form-group">
                  <label for="confirmPassword">Confirm New Password</label>
                  <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm New Password" required>
                  <% if(typeof  error !== 'undefined'){ %>
                    <div class="error-input">
                        <% if (typeof  error.confirmPassword !== 'undefined') %>
                        <%= error.confirmPassword %>
                    </div>
                  <% } %>
                </div>
                <!-- Grid row -->
                <button type="submit" class="btn btn-primary btn-md" name="basic" >Submit</button>
            </form>
            </div>
            <div class="tab-pane fade <%- (nav.path == 'picture') ?  'show active'  : '' %>" id="picture" role="tabpanel" aria-labelledby="picture-tab">
               <!-- Grid column -->
               <!-- Profile Picture -->
                  <section class="section pb-3 text-center">
                      <!--Section heading-->
                      <h1 class="section-heading h3 pt-4">Your Profile Picture</h1>
                      <!--Section description-->
                      <p class="section-description"></p>
                    <div class="d-flex justify-content-center">
                      <img src="<%= (typeof userInfos !== 'undefined') ? ((userInfos.profilePic != null) ? `/uploads/${userInfos.profilePic}` : '/uploads/avatar.jpg') : '/uploads/avatar.jpg'  %>" class="img-fluid z-depth-1"
                      alt="Responsive image" style="width: 200px" name="pic">
                    </div>
                  </section>
    
                  <div class="d-flex justify-content-center">
                    <form action="/profile/uploadProfile" method="post" enctype="multipart/form-data">
                      <div class="btn btn-rounded btn-green upload-btn-wrapper">
                        <span><i class="fas fa-edit pr-2" aria-hidden="true"></i>Change</span>
                        <!-- <input type="file" id="profilePic" name="myImage" accept="image/*"> -->
                        <!-- <input type="submit" class="btn btn-rounded btn-green" name="profilePic" value="Change"> -->
                        <input name="userImg" type="file" accept="image/*" id="profilePic" onchange='this.form.submit();'>
                      </div>
                    </form>
                    <form action="/profile/deleteProfile" method="post" enctype="multipart/form-data">
                      <button type="button" class="btn btn-rounded btn-red" onclick='this.form.submit();'>
                        <i class="fas fa-trash-alt pr-2" aria-hidden="true"></i>Remove</button>
                    </form>
                  </div>
              <hr>
              <!-- Other Pictures -->
              <section class="section pb-3 text-center">
                  <!--Section heading-->
                  <h1 class="section-heading h3 pt-4">Other Pictures</h1>
                  <!--Section description-->
                  <p class="section-description"> Add more pictures to your profile (max 4)</p>
              </section>
              <!-- Grid row -->
                <div class="row">
                  <% if(typeof userInfos !== 'undefined' && userInfos.otherPictures !== null) {
                    let pics = userInfos.otherPictures.split(',')
                    pics.forEach(pic => { %>
                      <div class="col-lg-4 col-md-12 mb-3">
                        <form action="/profile/deletePicture" method="post">
                              <input type="hidden" name="img" value="<%= `${pic}` %>">
                              <img src="<%= `/uploads/${pic}` %>" class="img-fluid z-depth-1" alt="Responsive image" style="width: 550px;height: 300px;">
                              <button type="button" class="btn btn-danger px-3" onclick='this.form.submit();'>
                                <i class="fas fa-times" aria-hidden="true"></i></button>
                        </form>
                      </div>
                    <% }); 
                  } %>
                </div>
                <div class="d-flex justify-content-center">
                  <form action="/profile/uploadPicture" method="post" enctype="multipart/form-data">
                    <div class="btn btn-rounded btn-primary upload-btn-wrapper">
                      <span><i class="fa fa-plus-circle pr-2" aria-hidden="true"></i>Add</span>
                      <input name="userImg" type="file" accept="image/*" id="otherPic" onchange='this.form.submit();'>
                    </div>
                  </form>
                </div>
            </div>
            <!-- Tags Tab -->
            <div class="tab-pane fade <%- (nav.path == 'tag') ?  'show active'  : '' %>" id="tag" role="tabpanel" aria-labelledby="tag-tab">
              <section class="section pb-3 text-center">
                <!--Section heading-->
                <h1 class="section-heading h3 pt-4">List of Interests</h1>
                <!--Section description-->
                <p class="section-description"> Write your tag (or many tags separeted by , ) then press Enter to add it</p>
            </section>
            <!-- Grid row -->
              <div class="row">
                <div class="container-fluid border rounded mb-0 tag-container autocomplete" style="padding: 10px;">
                  <!-- User existing tags -->
                  <% if(typeof userInfos !== 'undefined' && userInfos.tags !== null) {
                    let tags = userInfos.tags.split(',')
                    tags.forEach(tag => { %>
                  <span class="badge grey lighten-1 tag">
                      <h6><span><%= tag %></span>
                      <i class="far fa-times-circle" aria-hidden="true" data-item="<%= tag %>"></i></h6>
                      </span>
                  <% }); 
                  } %>
                  <!-- <input type="hidden" name="tagsList" id="tagsList" value=""> -->
                  
                    <input placeholder ="Ex: html,php" id="myInput"/>
                  
                  <!-- <div class="search">

                  </div> -->
                </div>
              </div>
              <form action="/profile/addTags" method="post" id="tagsform">
                <% if(typeof userInfos !== 'undefined' && userInfos.tags !== null) {
                  %>
                <input type="hidden" name="TagsTab" id="tagsTab" value="<%= userInfos.tags %>">
                <% 
                  } else { %>
                    <input type="hidden" name="TagsTab" id="tagsTab" value="[]">
                 <% } %>
                <input type="submit" class="btn btn-primary btn-md" name="tagBtn" value="Submit">
              </form>
            </div>
            <!-- Localisation Tab -->
              <div class="tab-pane fade <%- (nav.path == 'location') ?  'show active'  : '' %>" id="location" role="tabpanel" aria-labelledby="location-tab">
                <section class="section pb-3 text-center">
                  <!--Section description-->
                  <p class="section-description"> Choose your location on the Map OR click on 'locate Me' to locate you automatically</p>
              </section>
                <!-- Default input -->
                <div class="text-center">
                  <button class="btn btn-primary btn-md" name="locateme" onclick='locate();'>Locate Me</button>
                  <div id="map"></div>
                  <form action="/profile/updateLocation" method="post">
                    <input type="hidden" name="latitude" id="lat" value="<%= (typeof userInfos !== 'undefined') ? userInfos.latitude : '31.794525' %>">
                    <input type="hidden" name="longitude" id="long" value="<%= (typeof userInfos !== 'undefined') ? userInfos.longitude : '-7.0849336' %>">
                    <input type="submit" class="btn btn-primary btn-md" name="locationBtn" value="Change Location">
                  </form>
                </div>
              </div>
              <!-- Preview Tab -->
              <div class="tab-pane fade <%- (nav.path == 'preview') ?  'show active'  : '' %>" id="preview" role="tabpanel" aria-labelledby="preview-tab">
                <%- include('myProfile'); %>
              </div>
          </div>
      </div>
  </section>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
  <script type="text/javascript" src="/javascripts/tag.js"></script>
  <script type="text/javascript" src="/javascripts/locate.js"></script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD21--MXSlrUq9EHOI4PbxcWuTfsV7RpAs&callback=initMap">
  </script>
</div>
<%- include('footer'); %>