<%- include('header'); %>

<!-- Intro -->
<section class="view">
      <div >
        <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="basic-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="basic"
                aria-selected="true">Basic Infos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="passowrd-tab" data-toggle="tab" href="#passowrd" role="tab" aria-controls="passowrd"
                aria-selected="false">Password</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="picture-tab" data-toggle="tab" href="#picture" role="tab" aria-controls="picture"
                aria-selected="false">Pictures</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="tag-tab" data-toggle="tab" href="#tag" role="tab" aria-controls="tag"
                aria-selected="false">Tags</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="location-tab" data-toggle="tab" href="#location" role="tab" aria-controls="location"
                  aria-selected="false">Location</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="preview-tab" data-toggle="tab" href="#preview" role="tab" aria-controls="preview"
                  aria-selected="false">Preview</a>
            </li>
          </ul>
          <div class="tab-content col-12" id="myTabContent">
            <div class="tab-pane fade show active" id="basic" role="tabpanel" aria-labelledby="basic-tab">
              <!-- Error & messages section -->
          <div>
            <% if(typeof  error !== 'undefined'){ %>
                <% if (typeof  error.error != 'undefined') { %>
                    <div class="alert alert-danger" role="alert">
                    <%= error.error %>
                    </div>
                <% } }
                if (typeof  success !== 'undefined') { %>
                    <div class="alert alert-success" role="alert">
                        <%= success.successMessage %>
                      </div>
               <% } %>
          </div>
                  <!-- Grid column -->
                  <div class="d-flex justify-content-center">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img(31).jpg" class="img-fluid z-depth-1 rounded-circle"
                      alt="Responsive image">
                  </div>
                  <div class="row d-flex justify-content-center">
                    <button type="button" class="btn btn-rounded btn-green"><i class="fas fa-edit pr-2" aria-hidden="true"></i>Change</button>
                  </div>
                  <div class="row d-flex justify-content-center">
                    <button type="button" class="btn btn-rounded btn-red"><i class="fas fa-trash-alt pr-2" aria-hidden="true"></i>Remove</button>
                </div>
                <!-- Extended default form grid -->
                <form method="POST" action="/profile/editBasic">
                    <!-- Grid column -->
                    <!-- Grid row -->
                    <div class="form-row">
                        <!-- Default input -->
                        <div class="form-group col-md-6">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" name="firstName" placeholder="First Name">
                            <% if(typeof  error !== 'undefined'){ %>
                              <div class="error-input">
                                  <% if (typeof  error.firstName !== 'undefined') %>
                                  <%= error.firstName %>
                              </div>
                            <% } %>
                        </div>
                        <!-- Default input -->
                        <div class="form-group col-md-6">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" name="lastName" placeholder="Last Name">
                            <% if(typeof  error !== 'undefined'){ %>
                              <div class="error-input">
                                  <% if (typeof  error.lastName !== 'undefined') %>
                                  <%= error.lastName %>
                              </div>
                            <% } %>
                        </div>
                    </div>
                    <!-- Grid row -->
                    <!-- Grid row -->
                    <div class="form-row">
                    <!-- Default input -->
                    <div class="form-group col-md-6">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" placeholder="Username">
                        <% if(typeof  error !== 'undefined'){ %>
                          <div class="error-input">
                              <% if (typeof  error.username !== 'undefined') %>
                              <%= error.username %>
                          </div>
                        <% } %>
                    </div>
                    <!-- Default input -->
                    <div class="form-group col-md-6">
                        <label for="birthday">Birth Day</label>
                        <input type="date" class="form-control" name="birthDay" placeholder="Birth Day">
                        <% if(typeof  error !== 'undefined'){ %>
                          <div class="error-input">
                              <% if (typeof  error.birthDay !== 'undefined') %>
                              <%= error.birthDay %>
                          </div>
                        <% } %>
                    </div>
                    </div>
                    <!-- Grid row -->
                     <!-- Grid row -->
                     <div class="form-row">
                        <!-- Default input -->
                        <div class="form-group col-md-6">
                            <label for="gender">Gender</label>
                            <select class="browser-default custom-select" name="gender">
                                <option selected>Select your gender</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                              </select>
                              <% if(typeof  error !== 'undefined'){ %>
                                <div class="error-input">
                                    <% if (typeof  error.gender !== 'undefined') %>
                                    <%= error.gender %>
                                </div>
                              <% } %>
                        </div>
                        <!-- Default input -->
                        <div class="form-group col-md-6">
                            <label for="orientation">Orientation</label>
                            <select class="browser-default custom-select" name="orientation">
                                <option selected>Select your Orientation</option>
                                <option value="1">Heterosexual</option>
                                <option value="2">Homosexual</option>
                                <option value="3">Bisexual</option>
                              </select>
                              <% if(typeof  error !== 'undefined'){ %>
                                <div class="error-input">
                                    <% if (typeof  error.orientation !== 'undefined') %>
                                    <%= error.orientation %>
                                </div>
                              <% } %>
                        </div>
                        </div>
                        <!-- Grid row -->
                
                    <!-- Default input -->
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" placeholder="E-mail">
                        <% if(typeof  error !== 'undefined'){ %>
                          <div class="error-input">
                              <% if (typeof  error.email !== 'undefined') %>
                              <%= error.email %>
                          </div>
                        <% } %>
                    </div>
                    <!-- Default input -->
                    <div class="form-group">
                        <label for="bio">Bio</label>
                        <textarea class="form-control" name="bio" rows="7"></textarea>
                        <% if(typeof  error !== 'undefined'){ %>
                          <div class="error-input">
                              <% if (typeof  error.bio !== 'undefined') %>
                              <%= error.bio %>
                          </div>
                        <% } %>
                    </div>
                    <!-- Grid row -->
                    <button type="submit" class="btn btn-primary btn-md">Submit</button>
                </form>
                <!-- Extended default form grid -->
            </div>
            <!-- Password Reset form-->
            <div class="tab-pane fade" id="passowrd" role="tabpanel" aria-labelledby="passowrd-tab">
              <form>
                <!-- Password input -->
                <div class="form-group">
                    <label for="oldPassword">Old Password</label>
                    <input type="passowrd" class="form-control" name="oldPassword" placeholder="Old Password">
                </div>
                <!-- Password input -->
                <div class="form-group">
                  <label for="newPassword">New Password</label>
                  <input type="passowrd" class="form-control" name="newPassword" placeholder="New Password">
                </div>
                <!-- Confirm Password input -->
                <div class="form-group">
                  <label for="confirmPassword">Confirm New Password</label>
                  <input type="passowrd" class="form-control" name="confirmPassword" placeholder="Confirm New Password">
                </div>
                <!-- Grid row -->
                <button type="submit" class="btn btn-primary btn-md">Submit</button>
            </form>


            </div>
            <div class="tab-pane fade" id="picture" role="tabpanel" aria-labelledby="picture-tab">
              <!-- Grid row -->
                <div class="row">

                  <!-- Grid column -->
                  <div class="col-lg-4 col-md-12 mb-3">

                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img(115).jpg" class="img-fluid z-depth-1"
                      alt="Responsive image">

                  </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                  <div class="col-lg-4 col-md-6 mb-3">

                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img(116).jpg" class="img-fluid z-depth-1"
                      alt="Responsive image">

                  </div>
                  <!-- Grid column -->

                </div>
                <button type="button" class="btn btn-rounded btn-primary"><i class="fa fa-plus-circle pr-2" aria-hidden="true"></i>ADD</button>

            </div>
            <!-- Tags Tab -->
            <div class="tab-pane fade" id="tag" role="tabpanel" aria-labelledby="tag-tab">
              <!-- Default input -->
              <form action="" method="post">
                <!-- Grid row -->
                <div class="form-row">
                  <!-- Default input -->
                  <div class="form-group col-md-6">
                      <label for="tags">Tags</label> <br>
                      <div class="tag">
                        <label for="">Tag 220</label>
                        <!-- <button type="button" class="close" aria-label="Close"> -->
                          <!-- <span aria-hidden="true">×</span> -->
                          <i class="fa fa-times"></i>
                        <!-- </button> -->
                      </div>
                      <input type="text" class="form-control" id="tag" placeholder="Tag">
                      <button type="submit" class="btn btn-primary btn-md">Add Tag</button>
                  </div>
                  </div>
              </form>
            </div>
            <!-- Localisation Tab -->
              <div class="tab-pane fade" id="location" role="tabpanel" aria-labelledby="location-tab">
                <!-- Default input -->
                <div class="form-group">
                  <label for="localisation">Localisation</label>
                  <input type="text" class="form-control" name="localisation" placeholder="Localisation">
                </div>
              </div>
                <div class="tab-pane fade" id="preview" role="tabpanel" aria-labelledby="preview-tab">E22tsy mixtape
                  wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack
                  lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard
                  locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify
                  squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie
                  etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog
                  stumptown. Pitchfork sustainable tofu synth chambray yr.</div>
          </div>
      </div>
  </section>


<%- include('footer'); %>