<%- include('header'); %>
<%- include('./navs/navAuth'); %>

<section class="view">
      <div class="col-md-12">
        <div class="d-flex flex-column justify-content-center">
           <!-- Error & messages section -->
           <div>
            <% if(typeof  error !== 'undefined'){ %>
                <% if (typeof  error.error != 'undefined') { %>
                    <div class="alert alert-danger" role="alert">
                    <%= error.error %>
                    </div>
                <% } }
                if (typeof  success !== 'undefined') { %>
                    <div class="alert alert-success" role="alert">
                        <%= success.successMessage %>
                      </div>
               <% } %>
          </div>
          <div class="row">
            <div class="col">
              <div class="card">
                <h5 class="card-header h5">Likes History</h5>
                <div class="card-body">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <h5 class="card-header h5">Visits History</h5>
                <div class="card-body">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
</section>


<%- include('footer'); %>