<%- include('header'); %>
<%- include('./navs/navAuth'); %>

<section class="view">
      <div class="col-md-12">
        <div class="d-flex flex-column justify-content-center">
           <!-- Error & messages section -->
           <div>
            <% if(typeof  error !== 'undefined'){ %>
                <% if (typeof  error.error != 'undefined') { %>
                    <div class="alert alert-danger" role="alert">
                    <%= error.error %>
                    </div>
                <% } }
                if (typeof  success !== 'undefined') { %>
                    <div class="alert alert-success" role="alert">
                        <%= success.successMessage %>
                      </div>
               <% } %>
          </div>
          <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-4">
              <div class="card">
                 <div class="nav flex-column md-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active list-group-item" id="v-pills-likesyou-tab" data-toggle="pill" href="#v-pills-likesyou" role="tab"
                  aria-controls="v-pills-likesyou" aria-selected="true"><i class="fas fa-hand-holding-heart"></i>&nbsp;Who Likes You</a>
                <a class="nav-link list-group-item" id="v-pills-visitors-tab" data-toggle="pill" href="#v-pills-visitors" role="tab"
                  aria-controls="v-pills-visitors" aria-selected="false"><i class="fas fa-eye"></i>&nbsp;Visitors</a>
                <a class="nav-link list-group-item" id="v-pills-youlikes-tab" data-toggle="pill" href="#v-pills-youlikes" role="tab"
                  aria-controls="v-pills-youlikes" aria-selected="false"><i class="fas fa-heart"></i>&nbsp;You Likes</a>
                <a class="nav-link list-group-item" id="v-pills-mutual-tab" data-toggle="pill" href="#v-pills-mutual" role="tab"
                  aria-controls="v-pills-mutual" aria-selected="false"><i class="fas fa-user-friends"></i>&nbsp;Mutual likes</a>
                </div>
              </div>
             
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-md-8">
              <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-likesyou" role="tabpanel" aria-labelledby="v-pills-likesyou-tab">
                  <div class="card example-1 scrollbar-deep-purple thin">
                    <h5 class="card-header h5">Who Likes You</h5>
                    <div class="card-body">
                      <ul class="list-group list-group-flush ">
                        <% if(typeof likersUsers !== 'undefined' && likersUsers.length > 0) { 
                          likersUsers.forEach(user => { %>
                        <li class="list-group-item">
                          <div class="media">
                            <img class="d-flex mr-3 rounded-circle small_avatar" src="<%= (user.profilePic != null) ? `/uploads/${user.profilePic}` : '/uploads/avatar.jpg' %>"
                        alt="avatar"><div class="media-body">
                              <h5 class="mt-0 font-weight-bold"><%= user.firstName+' '+user.lastName %></h5>
                              @<%= user.username %>
                            </div>
                          </div>
                          <a href="/user?id=<%= user.liker_user_id %>" class="stretched-link"></a>
                         </li>
                        <% });} else { %>
                          <li class="list-group-item">No Result Yet !!</li>
                          <% }%>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="v-pills-visitors" role="tabpanel" aria-labelledby="v-pills-visitors-tab">
                  <div class="card example-1 scrollbar-deep-purple thin">
                    <h5 class="card-header h5">Visitors</h5>
                    <div class="card-body">
                      <ul class="list-group list-group-flush">
                        <% if(typeof visitorsUsers !== 'undefined' && visitorsUsers.length > 0) { 
                          visitorsUsers.forEach(user => { %>
                        <li class="list-group-item">
                          <div class="media">
                            <img class="d-flex mr-3 rounded-circle small_avatar" src="<%= (user.profilePic != null) ? `/uploads/${user.profilePic}` : '/uploads/avatar.jpg' %>"
                        alt="avatar"><div class="media-body">
                              <h5 class="mt-0 font-weight-bold"><%= user.firstName+' '+user.lastName %></h5>
                              @<%= user.username %> visited you <%= (user.nbr_visits === 1) ? user.nbr_visits+' time' : user.nbr_visits +' times' %>
                            </div>
                          </div>
                          <a href="/user?id=<%= user.liker_user_id %>" class="stretched-link"></a>
                         </li>
                        <% });}else { %>
                          <li class="list-group-item">No Result Yet !!</li>
                          <% }%>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="v-pills-youlikes" role="tabpanel" aria-labelledby="v-pills-youlikes-tab">
                  <div class="card example-1 scrollbar-deep-purple thin">
                    <h5 class="card-header h5">You Likes</h5>
                    <div class="card-body">
                      <ul class="list-group list-group-flush">
                        <% if(typeof likedUsers !== 'undefined' && likedUsers.length > 0) { 
                          likedUsers.forEach(user => { %>
                        <li class="list-group-item">
                          <div class="media">
                            <img class="d-flex mr-3 rounded-circle small_avatar" src="<%= (user.profilePic != null) ? `/uploads/${user.profilePic}` : '/uploads/avatar.jpg' %>"
                        alt="avatar"><div class="media-body">
                              <h5 class="mt-0 font-weight-bold"><%= user.firstName+' '+user.lastName %></h5>
                              @<%= user.username %>
                            </div>
                          </div>
                          <a href="/user?id=<%= user.liker_user_id %>" class="stretched-link"></a>
                         </li>
                        <% });}else { %>
                          <li class="list-group-item">No Result Yet !!</li>
                          <% }%>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="v-pills-mutual" role="tabpanel" aria-labelledby="v-pills-mutual-tab">
                  <div class="card example-1 scrollbar-deep-purple thin">
                    <h5 class="card-header h5">Mutual likes</h5>
                    <div class="card-body">
                      <ul class="list-group list-group-flush">
                        <% if(typeof mutualUsers !== 'undefined' && mutualUsers.length > 0) { 
                          mutualUsers.forEach(user => { %>
                        <li class="list-group-item">
                          <div class="media">
                            <img class="d-flex mr-3 rounded-circle small_avatar" src="<%= (user.profilePic != null) ? `/uploads/${user.profilePic}` : '/uploads/avatar.jpg' %>"
                        alt="avatar"><div class="media-body">
                              <h5 class="mt-0 font-weight-bold"><%= user.firstName+' '+user.lastName %></h5>
                              @<%= user.matchedUsername %>
                            </div>
                          </div>
                          <a href="/user?id=<%= user.matchedId %>" class="stretched-link"></a>
                         </li>
                        <% });}else { %>
                          <li class="list-group-item">No Result Yet !!</li>
                          <% }%>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>


<%- include('footer'); %>