<%- include('header'); %>
<%- include('./navs/navAuth'); %>

    <div class="container-fluid">
        <div class="d-flex flex-column justify-content-center">
            <div class="row">
                    <div class="col-lg-4 col-sm-4 mb-4">
                        <div class="card">
                            
                            <!-- Profile picture -->
                            <img class="card-img-top" src="<%= (typeof userInfos !== 'undefined') ? ((userInfos.profilePic != null) ? `/uploads/${userInfos.profilePic}` : '/uploads/avatar.jpg') : '/uploads/avatar.jpg'  %>" alt="Profile">
                            <!-- Like / Unlike -->
                            <form action="/user/like" method="post">
                                <input type="hidden" name="userId" value="<%= (typeof userInfos !== 'undefined') ? userInfos.id : '' %>">
                                <% if(typeof userInfos !== 'undefined') {
                                    if(userInfos.isLiked === 1) { %>
                                        <button class="btn btn-primary" type="submit"><i class="fas fa-thumbs-down"></i> Unlike</button>
                                   <% } else { %>
                                <button class="btn btn-primary" type="submit"><i class="fas fa-thumbs-up"></i> Like</button>
                                <% }} %>
                            </form>
                            <!-- Report -->
                            <form action="/user/report" method="post">
                                <input type="hidden" name="userId" value="<%= (typeof userInfos !== 'undefined') ? userInfos.id : '' %>">
                                <button class="btn yellow darken-2"><i class="fas fa-exclamation-circle"></i> Report</button>
                            </form>
                            <!-- Block / Unblock -->
                            <form action="/user/block" method="post">
                                <input type="hidden" name="userId" value="<%= (typeof userInfos !== 'undefined') ? userInfos.id : '' %>">
                                <% if(typeof userInfos !== 'undefined') {
                                    if(userInfos.isBlocked === 1) { %>
                                        <button class="btn btn-default" type="submit"><i class="fas fa-ban"></i> Unblock</button>
                                   <% } else { %>
                                    <button class="btn red darken-1" type="submit"><i class="fas fa-ban"></i> Block</button>
                                <% }} %>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 mb-4">
                        <div class="card">
                            <div class="card-body card-body-cascade text-center">
                                <% if(typeof error !== 'undefined') { %>
                                <h5><span class="badge danger-color"><%= error.error %></span></h5><hr>
                                <%  } %>
                                <% if(typeof message.err !== 'undefined') { %>
                                    <h5><span class="badge danger-color"><%= message.err %></span></h5><hr>
                                    <%  } %>
                                <% if(typeof message.blockMessage !== 'undefined') { %>
                                <span class="badge red darken-1"><%= message.blockMessage %></span>
                                <% } %>
                                <% if(typeof message.reportMessage !== 'undefined') { %>
                                <span class="badge yellow darken-2"><%= message.reportMessage %></span>
                                <% } %>
                                <% if(typeof message.likesMessage !== 'undefined') { %>
                                <span class="badge default-color"><%= userInfos.likesMessage %></span>
                                <% } %>
                                <hr>
                                <!-- Frist Name & Last Name  -->
                                <h4 class="card-title"><strong><%= (typeof userInfos !== 'undefined') ? userInfos.firstName+' '+userInfos.lastName : '' %></strong></h4>
                                <!-- Username  -->
                                <h6 class="font-weight-bold indigo-text py-2">@<%= (typeof userInfos !== 'undefined') ? userInfos.username : '' %></h6>
                                <h3><span class="badge rgba-purple-strong"><i class="fab fa-gratipay"></i>&nbsp;4.2</span></h3>
                                <h3><span class="badge  light-blue lighten-4"><i class="fas fa-user-friends"></i></span></h3>
                                <!-- Location -->
                                <p><strong>Located At : </strong><%= (typeof userInfos !== 'undefined') ? userInfos.city+', '+userInfos.country : '' %></p>
                                <!-- Age -->
                                <p><strong>Age : </strong> <%= (typeof userInfos !== 'undefined') ? userInfos.age : '' %></p>
                                <!-- Gender -->
                                <p><strong>Gender : </strong> <%= (typeof userInfos !== 'undefined') ? userInfos.gender : '' %></p>
                                <!-- Orientation -->
                                <p><strong>Orientation : </strong> <%= (typeof userInfos !== 'undefined') ? userInfos.preference : '' %></p>
                                <!-- Bio -->
                                <strong>Biography : </strong>
                                <p class="card-text"><%= (typeof userInfos !== 'undefined') ? userInfos.biography : '' %></p>
                                <hr>
                                 <!-- Tags -->
                                 <h4 class="card-title"><strong>Interests</strong></h4>
                                 <% if(typeof userInfos !== 'undefined' && userInfos.tags !== null) {
                                    let tags = userInfos.tags.split(',')
                                    tags.forEach(tag => { %>
                                  <span class="badge grey lighten-1">
                                      <h6><span><%= tag %></span></h6>
                                      </span>
                                  <% }); 
                                  } else { %>
                                    <div class="col">
                                        <p>No Interests here yet</p>
                                    </div>
                                    <% } %>
                        </div>
                        </div>
                    </div>
                    
                    <!-- Other images -->
                    <div class="card" style="width: 100%;">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Gallery</strong></h4>
                    <div class="row">
                        <% if(typeof userInfos !== 'undefined' && userInfos.otherPictures !== null) {
                            let pics = userInfos.otherPictures.split(',')
                            pics.forEach(pic => { %>
                                <div class="col-lg-4 col-md-12 mb-4">
                                    <img src="<%= `/uploads/${pic}` %>" class="img-fluid z-depth-1" alt="Responsive image" style="width: 550px;height: 300px;">
                                </div>
                            <% }); 
                            } else { %>
                            <div class="col">
                                <p>No pictures here yet</p>
                            </div>
                            <% } %>
                      </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>


<%- include('footer'); %>