<%- include('header'); %>
<%- include('./navs/navAuth'); %>
    <div class="container-fluid">
        <div class="d-flex flex-column justify-content-center">
            <div class="row">
                    <div class="col-lg-4 col-sm-6 col-md-4">
                        <div class="card">
                            
                            <!-- Profile picture -->
                            <img class="card-img-top" src="<%= (typeof userInfos !== 'undefined') ? ((userInfos.profilePic != null) ? `/uploads/${userInfos.profilePic}` : '/uploads/avatar.jpg') : '/uploads/avatar.jpg'  %>" alt="Profile">
                            <div class="text-center">
                                <% if(typeof userInfos !== 'undefined') {
                                    if(userInfos.online === 1) { %>
                                <h4><span class="badge  badge-pill success-color">Online</span></h4>
                                <% } else { %>
                                <h5><span class="badge  badge-pill grey">Offline</span></h5>
                                    <span>Since:&nbsp;<%= (userInfos.lastLogin !== null) ? userInfos.lastLogin : '' %></span>
                                <% }} %>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-10">
                                    <!-- Like / Unlike -->
                                    <form action="/user/like" method="post">
                                        <input type="hidden" name="userId" value="<%= (typeof userInfos !== 'undefined') ? userInfos.id : '' %>">
                                        <% if(typeof relation !== 'undefined') {
                                            if(relation.isLiked === 1) { %>
                                                <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-thumbs-down"></i> Unlike</button>
                                        <% } else { %>
                                        <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-thumbs-up"></i> Like</button>
                                        <% }} %>
                                    </form>
                                </div>
                                <div class="col-10">
                                    <!-- Report -->
                                    <form action="/user/report" method="post">
                                        <input type="hidden" name="userId" value="<%= (typeof userInfos !== 'undefined') ? userInfos.id : '' %>">
                                        <button class="btn yellow darken-2 btn-block"><i class="fas fa-exclamation-circle"></i> Report</button>
                                    </form>
                                </div>
                                <div class="col-10">
                                     <!-- Block / Unblock -->
                                    <form action="/user/block" method="post">
                                        <input type="hidden" name="userId" value="<%= (typeof userInfos !== 'undefined') ? userInfos.id : '' %>">
                                        <% if(typeof relation !== 'undefined') {
                                            if(relation.isBlocked === 1) { %>
                                                <button class="btn btn-default btn-block" type="submit"><i class="fas fa-ban"></i> Unblock</button>
                                        <% } else { %>
                                            <button class="btn red darken-1 btn-block" type="submit"><i class="fas fa-ban"></i> Block</button>
                                        <% }} %>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-6 col-md-8">
                        <div class="card">
                            <div class="card-body card-body-cascade text-center">
                                <% if(typeof error !== 'undefined') { %>
                                <h5><span class="badge danger-color"><%= error.error %></span></h5>
                                <%  } %>
                                <% if(typeof message.err !== 'undefined') { %>
                                    <h5><span class="badge danger-color"><%= message.err %></span></h5>
                                    <%  } %>
                                <% if(typeof relation !== 'undefined' && typeof relation.blockMessage !== null) { %>
                                <span class="badge red darken-1"><%= relation.blockMessage %></span>
                                <% } %>
                                <% if(typeof relation !== 'undefined' && typeof relation.reportMessage !== null) { %>
                                <span class="badge yellow darken-2"><%= relation.reportMessage %></span>
                                <% } %>
                                <% if(typeof relation !== 'undefined' && typeof relation.likesMessage !== null) { %>
                                <span class="badge default-color"><%= relation.likesMessage %></span>
                                <% } %>
                                <hr>
                                <!-- Frist Name & Last Name  -->
                                <h4 class="card-title"><strong><%= (typeof userInfos !== 'undefined') ? userInfos.firstName+' '+userInfos.lastName : '' %></strong></h4>
                                <!-- Username  -->
                                <h6 class="font-weight-bold indigo-text py-2">@<%= (typeof userInfos !== 'undefined') ? userInfos.username : '' %></h6>
                                <h3><span class="badge rgba-purple-strong"><i class="fab fa-gratipay"></i>&nbsp;<%= (typeof userInfos !== 'undefined') ? userInfos.fame : '' %></span></h3>
                                <!-- Age -->
                                <p><strong>Age : </strong> <%= (typeof userInfos !== 'undefined') ? ((userInfos.age !== null) ? userInfos.age : ' - ') : '' %></p>
                                <!-- Gender -->
                                <p><strong>Gender : </strong> <%= (typeof userInfos !== 'undefined') ? ((userInfos.gender !== null) ? userInfos.gender : ' - ') : '' %></p>
                                <!-- Orientation -->
                                <p><strong>Orientation : </strong> <%= (typeof userInfos !== 'undefined') ? ((userInfos.preference !== null) ? userInfos.preference : ' - ') : '' %></p>
                                <!-- Bio -->
                                <strong>Biography : </strong>
                                <p class="card-text"><%= (typeof userInfos !== 'undefined') ? ((userInfos.biography !== null) ? userInfos.biography : ' - ') : '' %></p>
                                <hr>
                                 <!-- Tags -->
                                 <h4 class="card-title"><strong>Interests</strong></h4>
                                 <% if(typeof userInfos !== 'undefined' && userInfos.tags !== null) {
                                    let tags = userInfos.tags.split(',')
                                    tags.forEach(tag => { %>
                                  <span class="badge grey lighten-1">
                                      <h6><span><%= tag %></span></h6>
                                      </span>
                                  <% }); 
                                  } else { %>
                                    <div class="col">
                                        <p>No Interests here yet</p>
                                    </div>
                                    <% } %>
                                    <br><br>
                                    <!-- Map -->
                                    <input type="hidden" name="latitude" id="lat" value="<%= (typeof userInfos !== 'undefined') ? userInfos.latitude : '' %>">
                                    <input type="hidden" name="longitude" id="long" value="<%= (typeof userInfos !== 'undefined') ? userInfos.longitude : '' %>">
                                    <div id="previewMap"></div>
                        </div>
                        </div>
                    </div>
                    
                    <!-- Other images -->
                    <div class="card" style="width: 100%;">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Gallery</strong></h4>
                    <div class="row">
                        <% if(typeof userInfos !== 'undefined' && userInfos.otherPictures !== null) {
                            let pics = userInfos.otherPictures.split(',')
                            pics.forEach(pic => { %>
                                <div class="col-lg-4 col-md-12 mb-4">
                                    <img src="<%= `/uploads/${pic}` %>" class="img-fluid z-depth-1" alt="Responsive image" style="width: 550px;height: 300px;">
                                </div>
                            <% }); 
                            } else { %>
                            <div class="col">
                                <p>No pictures here yet</p>
                            </div>
                            <% } %>
                      </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/javascripts/showMap.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD21--MXSlrUq9EHOI4PbxcWuTfsV7RpAs&callback=initMap">
    </script>
    
    <!-- <script
      src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js"
      integrity="sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4="
      crossorigin="anonymous"
    ></script> -->
    <!-- To use sockets  -->
    <!-- <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        const { id } = Qs.parse(location.search, {
            ignoreQueryPrefix: true
        });
        socket.emit('addNotif', {msg:'working', id});
    </script> -->
<%- include('footer'); %>
<script type="text/javascript" src="/javascripts/socket.js"></script>
<script>
    // Get user id from URL
    const { id } = Qs.parse(location.search, {
        ignoreQueryPrefix: true
    });
    socket.emit('visitProfile', {
            visited: id,
            msg: 1
        });
</script>
<script type="text/javascript" src="/javascripts/notif.js"></script>