<%- include('header'); %>
<%- include('./navs/navAuth'); %>
<section class="view">
    <div class="col-md-12">
        <div class="d-flex flex-column justify-content-center">
            <!-- Error & messages section -->
            <div>
              <% if (typeof  success !== 'undefined') { %>
                    <div class="alert alert-success" role="alert">
                        <%= success.successMessage %>
                      </div>
               <% } %>
            </div>
        </div>
        <!-- Reported Users list -->
        <div class="card example-1 scrollbar-deep-purple thin">
            <h5 class="card-header h5">Reported Users</h5>
            <div class="card-body">
              <ul class="list-group list-group-flush ">
                <% if(typeof users !== 'undefined' && users.length > 0) { 
                  users.forEach(user => { %>
                <li class="list-group-item">
                  <div class="media">
                    <div class="col-lg-1 col-md-1">
                      <form action="/deleteProfile" method="post">
                            <input type="hidden" name="reported_user_id" value="<%= `${user.reported_user_id}` %>">
                            <input type="hidden" name="profilePic" value="<%= (user.profilePic != null) ? `${user.profilePic}` : '' %>">
                            <button type="button" class="btn btn-danger px-3" onclick='this.form.submit();'>
                              <i class="fas fa-times" aria-hidden="true"></i></button>
                      </form>
                    </div>
                    <a href="/user?id=<%= user.reported_user_id %>">
                    <img class="d-flex mr-3 rounded-circle small_avatar" src="<%= (user.profilePic != null) ? `/uploads/${user.profilePic}` : '/uploads/avatar.jpg' %>"
                alt="avatar"><div class="media-body"></a>
                      <h5 class="mt-0 font-weight-bold"><%= user.firstName+' '+user.lastName %></h5>
                      @<%= user.username %> has been reported <%= user.report %> times.
                    </div>
                  </div>
                  
                 </li>
                <% });} else { %>
                  <li class="list-group-item">No Reported Users Yet !!</li>
                  <% }%>
              </ul>
            </div>
          </div>
        <!-- Reported Users list -->
    </div>
</section>

<%- include('footer'); %>
<script type="text/javascript" src="/javascripts/socket.js"></script>
<script type="text/javascript" src="/javascripts/notif.js"></script>