<%- include('header'); %>

<!-- Intro -->
<section class="view">
      <div class="col-md-12">
        <div class="d-flex flex-column justify-content-center">
          <!-- Error & messages section -->
          <div>
            <% if(typeof  error !== 'undefined'){ %>
                <% if (typeof  error.error != 'undefined') { %>
                    <div class="alert alert-danger" role="alert">
                    <%= error.error %>
                    </div>
                <% } }
                if (typeof  success !== 'undefined') { %>
                    <div class="alert alert-success" role="alert">
                        <%= success.successMessage %>
                      </div>
               <% } %>
          </div>
            <!-- Password Reset Email Form -->
                <form class="text-center border border-light p-5" method="POST" action="/reinitializePassword">
                    <p class="h4 mb-4">Reinitialisation Of Password</p>
                    <!-- Password -->
                    <div class="form-row mb-4">
                      <input type="hidden" name="token" value="<%= token %>">
                      <input type="password" name="password" class="form-control" placeholder="New Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
                      <% if(typeof  error !== 'undefined'){ %>
                          <div class="error-input">
                              <% if (typeof  error.password !== 'undefined') %>
                              <%= error.password %>
                          </div>
                      <% } else { %>
                      <small id="passwordHelpBlock" class="form-text text-muted mb-4">
                          At least 8 characters containing 1 Uppercase, 1 Lowercase, 1 digit & 1 Special caractere
                      </small>
                      <% } %>
                  </div>

                  <!-- Password Confirmation -->
                  <div class="form-row mb-4">
                      <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm New Password" aria-describedby="defaultRegisterFormConfirmPasswordHelpBlock">
                      <% if(typeof  error !== 'undefined'){ %>
                          <div class="error-input">
                              <% if (typeof  error.confirmPassword !== 'undefined') %>
                              <%= error.confirmPassword %>
                          </div>
                      <% } %>
                  </div>
                    <!-- Submit button -->
                    <button class="btn btn-info my-4 btn-block" type="submit">Submit</button>
                </form>
        </div>
      </div>
  </section>


<%- include('footer'); %>