<%- include('header'); %>
<%- include('./navs/nav'); %>

<!-- Intro -->
<section class="view">
      <div class="col-md-12">
        <div class="d-flex flex-column justify-content-center">
            <!-- Error & messages section -->
            <div>
                <% if(typeof  error !== 'undefined'){ %>
                    <% if (typeof  error.error != 'undefined') { %>
                        <div class="alert alert-danger" role="alert">
                        <%= error.error %>
                        </div>
                    <% } }
                    if (typeof  success !== 'undefined') { %>
                        <div class="alert alert-success" role="alert">
                            <%= success.successMessage %>
                          </div>
                   <% } %>
            </div>
            <!-- Registration Form -->
                <form class="text-center border border-light p-5" id="signupForm" method="POST" action="/signup">
                    <p class="h4 mb-4">SIGN UP</p>
                    <div class="form-row mb-4">
                        <div class="col">
                            <!-- First name -->
                            <input type="text" name="firstName" class="form-control" placeholder="First name" required maxlength="30">
                            <% if(typeof  error !== 'undefined'){ %>
                                <div class="error-input">
                                    <% if (typeof  error.firstName !== 'undefined') %>
                                    <%= error.firstName %>
                                  </div>
                            <% } %>
                        </div>
                        <div class="col">
                            <!-- Last name -->
                            <input type="text" name="lastName" class="form-control" placeholder="Last name" required maxlength="30">
                            <% if(typeof  error !== 'undefined'){ %>
                                <div class="error-input">
                                    <% if (typeof  error.lastName !== 'undefined') %>
                                    <%= error.lastName %>
                                  </div>
                            <% } %>
                        </div>
                    </div>

                    <!-- Username -->
                    <div class="form-row mb-4">
                        <input type="text" name="username" class="form-control" placeholder="Username" required maxlength="20">
                        <% if(typeof  error !== 'undefined'){ %>
                            <div class="error-input">
                                <% if (typeof  error.username !== 'undefined') %>
                                <%= error.username %>
                            </div>
                        <% } %>
                    </div>

                    <!-- E-mail -->
                    <div class="form-row mb-4">
                        <input type="email" name="email" class="form-control" placeholder="E-mail" required maxlength="60">
                        <% if(typeof  error !== 'undefined'){ %>
                            <div class="error-input">
                                <% if (typeof  error.email !== 'undefined') %>
                                <%= error.email %>
                            </div>
                        <% } %>
                    </div>

                    <!-- Password -->
                    <div class="form-row mb-4">
                        <input type="password" name="password" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
                        <% if(typeof  error !== 'undefined'){ %>
                            <div class="error-input">
                                <% if (typeof  error.password !== 'undefined') %>
                                <%= error.password %>
                            </div>
                        <% } else { %>
                        <small id="passwordHelpBlock" class="form-text text-muted mb-4">
                            At least 8 characters containing 1 Uppercase, 1 Lowercase, 1 digit & 1 Special caractere
                        </small>
                        <% } %>
                    </div>

                    <!-- Password Confirmation -->
                    <div class="form-row mb-4">
                        <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password" aria-describedby="defaultRegisterFormConfirmPasswordHelpBlock">
                        <% if(typeof  error !== 'undefined'){ %>
                            <div class="error-input">
                                <% if (typeof  error.confirmPassword !== 'undefined') %>
                                <%= error.confirmPassword %>
                            </div>
                        <% } %>
                    </div>
                    <!-- Sign up button -->
                    <button class="btn btn-info my-4 btn-block" type="submit">Sign Up</button>

                    <hr>
                    <!-- Register -->
                    <p>Already A Member?
                        <a href="/login">LOGIN</a>
                    </p>
                </form>
        </div>
      </div>
  </section>

<%- include('footer'); %>